
@{
    ViewData["Title"] = "AboutMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AboutMe</h1>

<!--Ordered list Examples 1-->
<p>Hobbies (ordered list)</p>
<ol>
    <li>working out</li>
    <li>eating</li>
    <li>working</li>

</ol>